@import "week3-base.css";

.wrapper::after {
    /* content: "after"; */
    content: "";
    clear: both;
    display: block;
}

.float {
    border: 1px solid black;
    margin: 0;
    padding: .5em;
    border-radius: 10px;
}

.float.right {
    float: right;
    margin-left: 1em;
}

.float img {
    display: block; 
    /* fix the space which under the image */
    border-radius: 5px;
}

.float.left {
    float: left;
    margin-right: 1em;
}

h2 {
    clear: both;
}