* {
  box-sizing: border-box;
}

body {
  font: 16px arial;
  margin: 0;
}

.parent {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 10px solid black;
  /* height: 600px; */
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flext-direction:row-reverse; */
  /* justify-content: space-around; */
  /* justify-content: space-around; */
  /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* justify-content: center;
    align-items: center; */
    /* flex-wrap: wrap;
    align-content: space-between; */
}

.child {
  padding: 1rem;
  background-color: goldenrod;
  border: 10px solid darkgoldenrod;
  /* order: 2; */
  /* flex-grow: 1;   */
  /* every item with same space */
   flex: 1;
}

/* .item3 {
  width:200px;
} */
.item3 {
  /* order: 1; */
  color:red;
  /* flex-grow: 3; */
  flex-basis: 400px;
}

/* .parent::before {
  content: 'Main Axis';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  padding-left: 100px;
  background-color: gold;
  z-index: 1;
}

.parent::after {
  content: 'Cross Axis';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  left: 0;
  right: 0;
  text-align: center;
  padding-left: 100px;
  background-color: yellow;
} */